:root {
	--color-body-bg: rgb(116, 63, 39);
	--color-body: rgb(34, 33, 17);
	--color-list-tab: rgb(222, 197, 150);
	--color-list-toolbar-bs: rgb(222, 197, 150);
	--color-list-tab-bb: rgb(222, 197, 150);
	--color-tabs-toolbar-bb: rgb(116, 63, 39);
	--color-list-toolbar-bg: rgb(116, 63, 39);
	--color-tabs-toolbar-bg: rgb(221, 160, 91);
	--color-list-tab-bg: rgb(203, 143, 82);
	--color-list-tab-hover-active-bg: rgb(221, 160, 91);
	--color-list-tab-active-bb: rgb(221, 160, 91);
	--color-list-tab-font: rgb(116, 63, 39);
	--color-h1-bg: rgb(221, 160, 91);
	--color-h1-bt: rgb(221, 160, 91);
	--color-h1: rgb(34, 33, 17);
	--color-tabs-count: rgb(116, 63, 39);
	--color-discarded: rgb(34, 33, 17);
	--color-hidden: rgb(34, 33, 17);
	--color-switch-history: rgb(34, 33, 17);
	--color-li-bg: rgb(180, 99, 53);
	--color-li-hover-bg: rgb(221, 160, 91);
	--color-active-bg: rgb(221, 160, 91);
	--color-popupWrap: rgb(221, 160, 91);
	--color-switch-tabs-switch-history-bb: rgb(116, 63, 39);
	--color-switch-tabs-switch-history-bt: rgb(222, 197, 150);
}

.icon , .btn {
	/* BaseColor : rgb(227, 220, 153) */
	filter: sepia(13%) saturate(973%) hue-rotate(3deg) brightness(96%) contrast(88%);
}

.icon:hover , .btn:hover {
	/*  BaseColor : rgb(140, 131, 57) */
	filter: sepia(99%) saturate(262%) hue-rotate(16deg) brightness(94%) contrast(85%);
}

/* rgb(116, 63, 39)|rgb(34, 33, 17)|rgb(222, 197, 150)|rgb(222, 197, 150)|rgb(222, 197, 150)|rgb(116, 63, 39)|rgb(116, 63, 39)|rgb(221, 160, 91)|rgb(203, 143, 82)|rgb(221, 160, 91)|rgb(221, 160, 91)|rgb(116, 63, 39)|rgb(221, 160, 91)|rgb(221, 160, 91)|rgb(34, 33, 17)|rgb(116, 63, 39)|rgb(34, 33, 17)|rgb(34, 33, 17)|rgb(34, 33, 17)|rgb(180, 99, 53)|rgb(221, 160, 91)|rgb(221, 160, 91)|rgb(221, 160, 91)|rgb(116, 63, 39)|rgb(222, 197, 150)|rgb(227, 220, 153)|rgb(140, 131, 57) */