:root {
	--color-body-bg: rgb(119,77,58);
	--color-body: rgb(246,240,238);
	--color-list-tab: rgb(229,211,203);
	--color-list-toolbar-bs: rgb(229,211,203);
	--color-list-tab-bb: rgb(229,211,203);
	--color-tabs-toolbar-bb: rgb(85,55,41);
	--color-list-toolbar-bg: rgb(119,77,58);
	--color-tabs-toolbar-bg: rgb(196,154,134);
	--color-list-tab-bg: rgb(181,140,120);
	--color-list-tab-hover-active-bg: rgb(196,154,134);
	--color-list-tab-active-bb: rgb(196,154,134);
	--color-list-tab-font: rgb(51,33,25);
	--color-h1-bg: rgb(196,154,134);
	--color-h1-bt: rgb(196,154,134);
	--color-h1: rgb(51,33,25);
	--color-tabs-count: rgb(85,55,41);
	--color-discarded: rgb(51,33,25);
	--color-hidden: rgb(51,33,25);
	--color-switch-history: rgb(246,240,238);
	--color-li-bg: rgb(154,99,75);
	--color-li-hover-bg: rgb(196,154,134);
	--color-active-bg: rgb(196,154,134);
	--color-popupWrap: rgb(196,154,134);
	--color-switch-tabs-switch-history-bb: rgb(85,55,41);
	--color-switch-tabs-switch-history-bt: rgb(229,211,203);
}

.icon , .btn {
	/* BaseColor : rgb(247, 239, 201) */
	filter: sepia(7%) saturate(902%) hue-rotate(360deg) brightness(104%) contrast(94%);
}

.icon:hover , .btn:hover {
	/*  BaseColor : rgb(221, 199, 153) */
	filter: sepia(28%) saturate(432%) hue-rotate(344deg) brightness(91%) contrast(90%);
}

/* rgb(119,77,58)|rgb(246,240,238)|rgb(229,211,203)|rgb(229,211,203)|rgb(229,211,203)|rgb(85,55,41)|rgb(119,77,58)|rgb(196,154,134)|rgb(181,140,120)|rgb(196,154,134)|rgb(196,154,134)|rgb(51,33,25)|rgb(196,154,134)|rgb(196,154,134)|rgb(51,33,25)|rgb(85,55,41)|rgb(51,33,25)|rgb(51,33,25)|rgb(246,240,238)|rgb(154,99,75)|rgb(196,154,134)|rgb(196,154,134)|rgb(196,154,134)|rgb(85,55,41)|rgb(229,211,203)|rgb(247, 239, 201)|rgb(221, 199, 153) */