:root {
	--color-body-bg: rgb(132,119,103);
	--color-body: rgb(59, 7, 0);
	--color-list-tab: rgb(76,63,55);
	--color-list-toolbar-bs: rgb(76,63,55);
	--color-list-tab-bb: rgb(76,63,55);
	--color-tabs-toolbar-bb: rgb(76,63,55);
	--color-list-toolbar-bg: rgb(132,119,103);
	--color-tabs-toolbar-bg: rgb(239, 217, 186);
	--color-list-tab-bg: rgb(239, 217, 186);
	--color-list-tab-hover-active-bg: rgb(239, 217, 186);
	--color-list-tab-active-bb: rgb(239, 217, 186);
	--color-list-tab-font: rgb(59, 7, 0);
	--color-h1-bg: rgb(239, 217, 186);
	--color-h1-bt: rgb(239, 217, 186);
	--color-h1: rgb(59, 7, 0);
	--color-tabs-count: rgb(110, 66, 36);
	--color-discarded: rgb(110, 66, 36);
	--color-hidden: rgb(110, 66, 36);
	--color-switch-history: rgb(59, 7, 0);
	--color-li-bg: rgb(199, 169, 133);
	--color-li-hover-bg: rgb(239, 217, 186);
	--color-active-bg: rgb(239, 217, 186);
	--color-popupWrap: rgb(239, 217, 186);
	--color-switch-tabs-switch-history-bb: rgb(76,63,55);
	--color-switch-tabs-switch-history-bt: rgb(239, 217, 186);
}

.icon , .btn {
	/* BaseColor : rgb(191, 241, 217) */
	filter: sepia(26%) saturate(267%) hue-rotate(96deg) brightness(105%) contrast(89%);
}

.icon:hover , .btn:hover {
	/*  BaseColor : rgb(240, 225, 208) */
	filter: sepia(3%) saturate(1680%) hue-rotate(340deg) brightness(102%) contrast(88%);
}

/* rgb(132,119,103)|rgb(59, 7, 0)|rgb(76,63,55)|rgb(76,63,55)|rgb(76,63,55)|rgb(76,63,55)|rgb(132,119,103)|rgb(239, 217, 186)|rgb(239, 217, 186)|rgb(239, 217, 186)|rgb(239, 217, 186)|rgb(59, 7, 0)|rgb(239, 217, 186)|rgb(239, 217, 186)|rgb(59, 7, 0)|rgb(110, 66, 36)|rgb(110, 66, 36)|rgb(110, 66, 36)|rgb(59, 7, 0)|rgb(199, 169, 133)|rgb(239, 217, 186)|rgb(239, 217, 186)|rgb(239, 217, 186)|rgb(76,63,55)|rgb(239, 217, 186)|rgb(191, 241, 217)|rgb(240, 225, 208) */