:root {
	/* Sidebar > background-color */
	--color-body-bg: rgb(132, 119, 103);
	/* All > font color , Tabs > font color, normal */
	--color-body: rgb(76, 63, 55);
	/* Page Tabs > border-top-color , border-left-color , border-right-color */
	--color-list-tab: rgb(76, 63, 55);
	/* Page Toolbar, top > box-shadow = border color */
	--color-list-toolbar-bs: rgb(76, 63, 55);
	/*  Page Tabs, inactive > border-bottom-color */
	--color-list-tab-bb: rgb(76, 63, 55);
	/* Page Toolbar > border-bottom-color */
	--color-tabs-toolbar-bb: rgb(76, 63, 55);
	/* Page Toolbar > background-color */
	--color-list-toolbar-bg: rgb(132, 119, 103);
	/* Page Toolbar, Button Bar > background-color */
	--color-tabs-toolbar-bg: rgb(245, 230, 202);
	/* Page Tabs, inactive > background-color */
	--color-list-tab-bg: rgb(224, 210, 184);
	/* Page Tabs, active/hover > background-color */
	--color-list-tab-hover-active-bg: rgb(245, 230, 202);
	/* Page Tabs, active > border-bottom-color */
	--color-list-tab-active-bb: rgb(245, 230, 202);
	/* Page Tabs, font color */
	--color-list-tab-font: rgb(76, 63, 55);
	/* Page Title > background-color */
	--color-h1-bg: rgb(245, 230, 202);
	/* Page Title > border-top-color */
	--color-h1-bt: rgb(245, 230, 202);
	/* Page Title > font color */
	--color-h1: rgb(76, 63, 55);
	/* Page Title - Tabs Counter > font color */
	--color-tabs-count: rgb(132, 119, 103);
	/* List Tabs, discarded > font color  */
	--color-discarded: rgb(108, 94, 81);
	/* List Tabs, hidden > font color */
	--color-hidden: rgb(108, 94, 81);
	/* List Tabs Chronicle > font color */
	--color-switch-history: rgb(76, 63, 55);
	/* List Tabs > background-color */
	--color-li-bg: rgb(197, 179, 153);
	/* List Tabs, hover > background-color */
	--color-li-hover-bg: rgb(245, 230, 202);
	/* List Tabs, active > background-color */
	--color-active-bg: rgb(245, 230, 202);
	/* List Tabs Popup > background-color */
	--color-popupWrap: rgb(245, 230, 202);
	/* List Tabs > border-bottom-color */
	--color-switch-tabs-switch-history-bb: rgb(76, 63, 55);
	/* List Tabs > border-top-color */
	--color-switch-tabs-switch-history-bt: rgb(245, 230, 202);

	/* FavIcon, discarded Tabs */
	--icon-discarded: url('../icons/icon-discarded-light.png');
	/* FavIcon, hidden Tabs */
	--icon-hidden: url('../icons/icon-hidden-light.png');
	/* FavIcon, default Tabs */
	--icon-default: url('../icons/icon-default-light.png');
}