:root {
	--color-body-bg: rgb(12,12,13);
	--color-body: rgb(237,237,240);
	--color-list-tab: rgb(177,177,179);
	--color-list-toolbar-bs: rgb(177,177,179);
	--color-list-tab-bb: rgb(177,177,179);
	--color-tabs-toolbar-bb: rgb(12,12,13);
	--color-list-toolbar-bg: rgb(12,12,13);
	--color-tabs-toolbar-bg: rgb(115,115,115);
	--color-list-tab-bg: rgb(102,102,102);
	--color-list-tab-hover-active-bg: rgb(115,115,115);
	--color-list-tab-active-bb: rgb(115,115,115);
	--color-list-tab-font: rgb(237,237,240);
	--color-h1-bg: rgb(115,115,115);
	--color-h1-bt: rgb(115,115,115);
	--color-h1: rgb(249,249,250);
	--color-tabs-count: rgb(215,215,219);
	--color-discarded: rgb(177,177,179);
	--color-hidden: rgb(177,177,179);
	--color-switch-history: rgb(177,177,179);
	--color-li-bg: rgb(42,42,46);
	--color-li-hover-bg: rgb(115,115,115);
	--color-active-bg: rgb(115,115,115);
	--color-popupWrap: rgb(115,115,115);
	--color-switch-tabs-switch-history-bb: rgb(12,12,13);
	--color-switch-tabs-switch-history-bt: rgb(177,177,179);
}

.icon , .btn {
	/* BaseColor : rgb(65, 112, 129) */
	filter: sepia(39%) saturate(469%) hue-rotate(150deg) brightness(142%) contrast(89%);
}

.icon:hover , .btn:hover {
	/*  BaseColor : rgb(203, 203, 203) */
	filter: sepia(0%) saturate(1414%) hue-rotate(144deg) brightness(146%) contrast(84%);
}

.hiddenIcon , .discardedIcon , .pinnedIcon {
	filter: brightness(150%);
}

/* rgb(12,12,13)|rgb(237,237,240)|rgb(177,177,179)|rgb(177,177,179)|rgb(177,177,179)|rgb(12,12,13)|rgb(12,12,13)|rgb(115,115,115)|rgb(102,102,102)|rgb(115,115,115)|rgb(115,115,115)|rgb(237,237,240)|rgb(115,115,115)|rgb(115,115,115)|rgb(249,249,250)|rgb(215,215,219)|rgb(177,177,179)|rgb(177,177,179)|rgb(177,177,179)|rgb(42,42,46)|rgb(115,115,115)|rgb(115,115,115)|rgb(115,115,115)|rgb(12,12,13)|rgb(177,177,179)|rgb(65, 112, 129)|rgb(203, 203, 203) */