:root {
	--color-body-bg: rgb(102,189,99);
	--color-body: rgb(10,62,32);
	--color-list-tab: rgb(26,152,80);
	--color-list-toolbar-bs: rgb(26,152,80);
	--color-list-tab-bb: rgb(26,152,80);
	--color-tabs-toolbar-bb: rgb(26,152,80);
	--color-list-toolbar-bg: rgb(102,189,99);
	--color-tabs-toolbar-bg: rgb(217,239,139);
	--color-list-tab-bg: rgb(195,227,130);
	--color-list-tab-hover-active-bg: rgb(217,239,139);
	--color-list-tab-active-bb: rgb(217,239,139);
	--color-list-tab-font: rgb(10,62,32);
	--color-h1-bg: rgb(217,239,139);
	--color-h1-bt: rgb(217,239,139);
	--color-h1: rgb(10,62,32);
	--color-tabs-count: rgb(26,152,80);
	--color-discarded: rgb(19,113,58);
	--color-hidden: rgb(19,113,58);
	--color-switch-history: rgb(10,62,32);
	--color-li-bg: rgb(166,217,106);
	--color-li-hover-bg: rgb(217,239,139);
	--color-active-bg: rgb(217,239,139);
	--color-popupWrap: rgb(217,239,139);
	--color-switch-tabs-switch-history-bb: rgb(10,62,32);
	--color-switch-tabs-switch-history-bt: rgb(243,250,199);
}

.icon , .btn {
	/* BaseColor : rgb(201, 231, 214) */
	filter: sepia(9%) saturate(508%) hue-rotate(78deg) brightness(96%) contrast(89%);
}

.icon:hover , .btn:hover {
	/*  BaseColor : rgb(231, 227, 156) */
	filter: sepia(28%) saturate(456%) hue-rotate(1deg) brightness(96%) contrast(90%);
}

/* rgb(102,189,99)|rgb(10,62,32)|rgb(26,152,80)|rgb(26,152,80)|rgb(26,152,80)|rgb(26,152,80)|rgb(102,189,99)|rgb(217,239,139)|rgb(195,227,130)|rgb(217,239,139)|rgb(217,239,139)|rgb(10,62,32)|rgb(217,239,139)|rgb(217,239,139)|rgb(10,62,32)|rgb(26,152,80)|rgb(19,113,58)|rgb(19,113,58)|rgb(10,62,32)|rgb(166,217,106)|rgb(217,239,139)|rgb(217,239,139)|rgb(217,239,139)|rgb(10,62,32)|rgb(243,250,199)|rgb(201, 231, 214)|rgb(231, 227, 156) */