:root {
	--color-body-bg: rgb(35,132,67);
	--color-body: rgb(0, 38, 21);
	--color-list-tab: rgb(215, 238, 200);
	--color-list-toolbar-bs: rgb(215, 238, 200);
	--color-list-tab-bb: rgb(215, 238, 200);
	--color-tabs-toolbar-bb: rgb(0,90,50);
	--color-list-toolbar-bg: rgb(35,132,67);
	--color-tabs-toolbar-bg: rgb(173,221,142);
	--color-list-tab-bg: rgb(150, 206, 130);
	--color-list-tab-hover-active-bg: rgb(173,221,142);
	--color-list-tab-active-bb: rgb(173,221,142);
	--color-list-tab-font: rgb(0,90,50);
	--color-h1-bg: rgb(173,221,142);
	--color-h1-bt: rgb(173,221,142);
	--color-h1: rgb(0,90,50);
	--color-tabs-count: rgb(65,171,93);
	--color-discarded: rgb(0,90,50);
	--color-hidden: rgb(0,90,50);
	--color-switch-history: rgb(0, 38, 21);
	--color-li-bg: rgb(110, 191, 112);
	--color-li-hover-bg: rgb(173,221,142);
	--color-active-bg: rgb(173,221,142);
	--color-popupWrap: rgb(173,221,142);
	--color-switch-tabs-switch-history-bb: rgb(0,90,50);
	--color-switch-tabs-switch-history-bt: rgb(215, 238, 200);
}

.icon , .btn {
	/* BaseColor : rgb(233, 217, 168) */
	filter: sepia(22%) saturate(511%) hue-rotate(342deg) brightness(96%) contrast(90%);
}

.icon:hover , .btn:hover {
	/*  BaseColor : rgb(207, 221, 167) */
	filter: sepia(33%) saturate(332%) hue-rotate(16deg) brightness(92%) contrast(86%);
}

/* rgb(35,132,67)|rgb(0, 38, 21)|rgb(215, 238, 200)|rgb(215, 238, 200)|rgb(215, 238, 200)|rgb(0,90,50)|rgb(35,132,67)|rgb(173,221,142)|rgb(150, 206, 130)|rgb(173,221,142)|rgb(173,221,142)|rgb(0,90,50)|rgb(173,221,142)|rgb(173,221,142)|rgb(0,90,50)|rgb(65,171,93)|rgb(0,90,50)|rgb(0,90,50)|rgb(0, 38, 21)|rgb(110, 191, 112)|rgb(173,221,142)|rgb(173,221,142)|rgb(173,221,142)|rgb(0,90,50)|rgb(215, 238, 200)|rgb(233, 217, 168)|rgb(207, 221, 167) */