:root {
	--color-body-bg: rgb(177, 177, 179);
	--color-body: rgb(12, 12, 13);
	--color-list-tab: rgb(115, 115, 115);
	--color-list-toolbar-bs: rgb(115, 115, 115);
	--color-list-tab-bb: rgb(115, 115, 115);
	--color-tabs-toolbar-bb: rgb(115, 115, 115);
	--color-list-toolbar-bg: rgb(177, 177, 179);
	--color-tabs-toolbar-bg: rgb(249, 249, 250);
	--color-list-tab-bg: rgb(237, 237, 240);
	--color-list-tab-hover-active-bg: rgb(249, 249, 250);
	--color-list-tab-active-bb: rgb(249, 249, 250);
	--color-list-tab-font: rgb(56, 56, 61);
	--color-h1-bg: rgb(249, 249, 250);
	--color-h1-bt: rgb(249, 249, 250);
	--color-h1: rgb(56, 56, 61);
	--color-tabs-count: rgb(115, 115, 115);
	--color-discarded: rgb(115, 115, 115);
	--color-hidden: rgb(115, 115, 115);
	--color-switch-history: rgb(12, 12, 13);
	--color-li-bg: rgb(215, 215, 219);
	--color-li-hover-bg: rgb(249, 249, 250);
	--color-active-bg: rgb(249, 249, 250);
	--color-popupWrap: rgb(249, 249, 250);
	--color-switch-tabs-switch-history-bb: rgb(115, 115, 115);
	--color-switch-tabs-switch-history-bt: rgb(249, 249, 250);
}

.icon , .btn {
	/* BaseColor : rgb(201, 214, 223) */
	filter: sepia(6%) saturate(1188%) hue-rotate(174deg) brightness(91%) contrast(92%);
}

.icon:hover , .btn:hover {
	/*  BaseColor : rgb(110, 146, 157) */
	filter: sepia(35%) saturate(280%) hue-rotate(148deg) brightness(96%) contrast(85%);
}

/* rgb(177, 177, 179)|rgb(12, 12, 13)|rgb(115, 115, 115)|rgb(115, 115, 115)|rgb(115, 115, 115)|rgb(115, 115, 115)|rgb(177, 177, 179)|rgb(249, 249, 250)|rgb(237, 237, 240)|rgb(249, 249, 250)|rgb(249, 249, 250)|rgb(56, 56, 61)|rgb(249, 249, 250)|rgb(249, 249, 250)|rgb(56, 56, 61)|rgb(115, 115, 115)|rgb(115, 115, 115)|rgb(115, 115, 115)|rgb(12, 12, 13)|rgb(215, 215, 219)|rgb(249, 249, 250)|rgb(249, 249, 250)|rgb(249, 249, 250)|rgb(115, 115, 115)|rgb(249, 249, 250) */