:root {
	--color-body-bg: rgb(9, 145, 94);
	--color-body: rgb(46,62,50);
	--color-list-tab: rgb(220, 243, 235);
	--color-list-toolbar-bs: rgb(220, 243, 235);
	--color-list-tab-bb: rgb(220, 243, 235);
	--color-tabs-toolbar-bb: rgb(41,116,89);
	--color-list-toolbar-bg: rgb(9, 145, 94);
	--color-tabs-toolbar-bg: rgb(182,229,212);
	--color-list-tab-bg: rgb(161,217,197);
	--color-list-tab-hover-active-bg: rgb(182,229,212);
	--color-list-tab-active-bb: rgb(182,229,212);
	--color-list-tab-font: rgb(41,116,89);
	--color-h1-bg: rgb(182,229,212);
	--color-h1-bt: rgb(182,229,212);
	--color-h1: rgb(41,116,89);
	--color-tabs-count: rgb(58,161,123);
	--color-discarded: rgb(41,116,89);
	--color-hidden: rgb(41,116,89);
	--color-switch-history: rgb(46,62,50);
	--color-li-bg: rgb(107,203,167);
	--color-li-hover-bg: rgb(182,229,212);
	--color-active-bg: rgb(182,229,212);
	--color-popupWrap: rgb(182,229,212);
	--color-switch-tabs-switch-history-bb: rgb(41,116,89);
	--color-switch-tabs-switch-history-bt: rgb(220,243,235);
}

.icon , .btn {
	/* BaseColor : rgb(193, 235, 164) */
	filter: sepia(11%) saturate(1017%) hue-rotate(38deg) brightness(94%) contrast(96%);
}

.icon:hover , .btn:hover {
	/*  BaseColor : rgb(245, 218, 181) */
	filter: sepia(16%) saturate(845%) hue-rotate(324deg) brightness(101%) contrast(92%);
}

/* rgb(9, 145, 94)|rgb(46,62,50)|rgb(220, 243, 235)|rgb(220, 243, 235)|rgb(220, 243, 235)|rgb(41,116,89)|rgb(9, 145, 94)|rgb(182,229,212)|rgb(161,217,197)|rgb(182,229,212)|rgb(182,229,212)|rgb(41,116,89)|rgb(182,229,212)|rgb(182,229,212)|rgb(41,116,89)|rgb(58,161,123)|rgb(41,116,89)|rgb(41,116,89)|rgb(46,62,50)|rgb(107,203,167)|rgb(182,229,212)|rgb(182,229,212)|rgb(182,229,212)|rgb(41,116,89)|rgb(220,243,235)|rgb(193, 235, 164)|rgb(245, 218, 181) */