:root {
	--color-body-bg: rgb(124,123,78);
	--color-body: rgb(46, 45, 29);
	--color-list-tab: rgb(46,45,29);
	--color-list-toolbar-bs: rgb(46, 45, 29);
	--color-list-tab-bb: rgb(46,45,29);
	--color-tabs-toolbar-bb: rgb(46,45,29);
	--color-list-toolbar-bg: rgb(124,123,78);
	--color-tabs-toolbar-bg: rgb(191,190,120);
	--color-list-tab-bg: rgb(155,155,98);
	--color-list-tab-hover-active-bg: rgb(191,190,120);
	--color-list-tab-active-bb: rgb(191,190,120);
	--color-list-tab-font: rgb(46, 45, 29);
	--color-h1-bg: rgb(191, 190, 120);
	--color-h1-bt: rgb(191, 190, 120);
	--color-h1: rgb(30,58,18);
	--color-tabs-count: rgb(50,96,30);
	--color-discarded: rgb(50,96,30);
	--color-hidden: rgb(50,96,30);
	--color-switch-history: rgb(46, 45, 29);
	--color-li-bg: rgb(191, 190, 120);
	--color-li-hover-bg: rgb(245,244,155);
	--color-active-bg: rgb(245,244,155);
	--color-popupWrap: rgb(245,244,155);
	--color-switch-tabs-switch-history-bb: rgb(37,72,22);
	--color-switch-tabs-switch-history-bt: rgb(245,244,155);
}

.icon , .btn {
	/* BaseColor : rgb(181, 196, 146) */
	filter: sepia(15%) saturate(564%) hue-rotate(37deg) brightness(96%) contrast(87%);
}

.icon:hover , .btn:hover {
	/*  BaseColor : rgb(161, 142, 58) */
	filter: sepia(8%) saturate(3078%) hue-rotate(11deg) brightness(85%) contrast(80%);
}

/* rgb(124,123,78)|rgb(46, 45, 29)|rgb(46,45,29)|rgb(46, 45, 29)|rgb(46,45,29)|rgb(46,45,29)|rgb(124,123,78)|rgb(191,190,120)|rgb(155,155,98)|rgb(191,190,120)|rgb(191,190,120)|rgb(46, 45, 29)|rgb(191, 190, 120)|rgb(191, 190, 120)|rgb(30,58,18)|rgb(50,96,30)|rgb(50,96,30)|rgb(50,96,30)|rgb(46, 45, 29)|rgb(191, 190, 120)|rgb(245,244,155)|rgb(245,244,155)|rgb(245,244,155)|rgb(37,72,22)|rgb(245,244,155)|rgb(181, 196, 146)|rgb(161, 142, 58) */