:root {
	--color-body-bg: rgb(166,54,3);
	--color-body: rgb(42,13,1);
	--color-list-tab: rgb(127,39,4);
	--color-list-toolbar-bs: rgb(127,39,4);
	--color-list-tab-bb: rgb(127,39,4);
	--color-tabs-toolbar-bb: rgb(166,54,3);
	--color-list-toolbar-bg: rgb(166,54,3);
	--color-tabs-toolbar-bg: rgb(253,174,107);
	--color-list-tab-bg: rgb(252,160,79);
	--color-list-tab-hover-active-bg: rgb(253,174,107);
	--color-list-tab-active-bb: rgb(253,174,107);
	--color-list-tab-font: rgb(127,39,4);
	--color-h1-bg: rgb(253,174,107);
	--color-h1-bt: rgb(253,174,107);
	--color-h1: rgb(127,39,4);
	--color-tabs-count: rgb(166,54,3);
	--color-discarded: rgb(127,39,4);
	--color-hidden: rgb(127,39,4);
	--color-switch-history: rgb(42,13,1);
	--color-li-bg: rgb(240, 142, 81);
	--color-li-hover-bg: rgb(253,174,107);
	--color-active-bg: rgb(253,174,107);
	--color-popupWrap: rgb(253,174,107);
	--color-switch-tabs-switch-history-bb: rgb(166,54,3);
	--color-switch-tabs-switch-history-bt: rgb(253,208,162);
}

.icon , .btn {
	/* BaseColor : rgb(191, 217, 193) */
	filter: sepia(7%) saturate(682%) hue-rotate(62deg) brightness(89%) contrast(90%);
}

.icon:hover , .btn:hover {
	/*  BaseColor : rgb(198, 241, 243) */
	filter: sepia(39%) saturate(143%) hue-rotate(134deg) brightness(101%) contrast(94%);
}

/* rgb(166,54,3)|rgb(42,13,1)|rgb(127,39,4)|rgb(127,39,4)|rgb(127,39,4)|rgb(166,54,3)|rgb(166,54,3)|rgb(253,174,107)|rgb(252,160,79)|rgb(253,174,107)|rgb(253,174,107)|rgb(127,39,4)|rgb(253,174,107)|rgb(253,174,107)|rgb(127,39,4)|rgb(166,54,3)|rgb(127,39,4)|rgb(127,39,4)|rgb(42,13,1)|rgb(240, 142, 81)|rgb(253,174,107)|rgb(253,174,107)|rgb(253,174,107)|rgb(166,54,3)|rgb(253,208,162)|rgb(191, 217, 193)|rgb(198, 241, 243) */