:root {
	--color-body-bg: rgb(187,140,125);
	--color-body: rgb(42,38,37);
	--color-list-tab: rgb(181,103,76);
	--color-list-toolbar-bs: rgb(181,103,76);
	--color-list-tab-bb: rgb(181,103,76);
	--color-tabs-toolbar-bb: rgb(181,103,76);
	--color-list-toolbar-bg: rgb(187,140,125);
	--color-tabs-toolbar-bg: rgb(245,214,167);
	--color-list-tab-bg: rgb(244,208,154);
	--color-list-tab-hover-active-bg: rgb(245,214,167);
	--color-list-tab-active-bb: rgb(245,214,167);
	--color-list-tab-font: rgb(116,67,50);
	--color-h1-bg: rgb(245,214,167);
	--color-h1-bt: rgb(245,214,167);
	--color-h1: rgb(116,67,50);
	--color-tabs-count: rgb(181,103,76);
	--color-discarded: rgb(116,67,50);
	--color-hidden: rgb(116,67,50);
	--color-switch-history: rgb(42,38,37);
	--color-li-bg: rgb(235,158,132);
	--color-li-hover-bg: rgb(245,214,167);
	--color-active-bg: rgb(245,214,167);
	--color-popupWrap: rgb(245,214,167);
	--color-switch-tabs-switch-history-bb: rgb(181,103,76);
	--color-switch-tabs-switch-history-bt: rgb(253, 236, 210);
}

.icon , .btn {
	/* BaseColor : rgb(245, 214, 167) */
	filter: sepia(33%) saturate(428%) hue-rotate(335deg) brightness(102%) contrast(92%);
}

.icon:hover , .btn:hover {
	/*  BaseColor : rgb(181, 103, 76) */
	filter: sepia(11%) saturate(2285%) hue-rotate(329deg) brightness(91%) contrast(89%);
}

/* rgb(187,140,125)|rgb(42,38,37)|rgb(181,103,76)|rgb(181,103,76)|rgb(181,103,76)|rgb(181,103,76)|rgb(187,140,125)|rgb(245,214,167)|rgb(244,208,154)|rgb(245,214,167)|rgb(245,214,167)|rgb(116,67,50)|rgb(245,214,167)|rgb(245,214,167)|rgb(116,67,50)|rgb(181,103,76)|rgb(116,67,50)|rgb(116,67,50)|rgb(42,38,37)|rgb(235,158,132)|rgb(245,214,167)|rgb(245,214,167)|rgb(245,214,167)|rgb(181,103,76)|rgb(253, 236, 210)|rgb(245, 214, 167)|rgb(181, 103, 76) */