:root {
	--color-body-bg: rgb(20,109,99);
	--color-body: rgb(4, 38, 34);
	--color-list-tab: rgb(200,239,226);
	--color-list-toolbar-bs: rgb(200,239,226);
	--color-list-tab-bb: rgb(200,239,226);
	--color-tabs-toolbar-bb: rgb(13,70,63);
	--color-list-toolbar-bg: rgb(20,109,99);
	--color-tabs-toolbar-bg: rgb(151,216,186);
	--color-list-tab-bg: rgb(122,205,166);
	--color-list-tab-hover-active-bg: rgb(151,216,186);
	--color-list-tab-active-bb: rgb(151,216,186);
	--color-list-tab-font: rgb(20,109,99);
	--color-h1-bg: rgb(151,216,186);
	--color-h1-bt: rgb(151,216,186);
	--color-h1: rgb(20,109,99);
	--color-tabs-count: rgb(36,149,137);
	--color-discarded: rgb(200,239,226);
	--color-hidden: rgb(200,239,226);
	--color-switch-history: rgb(4,38,34);
	--color-li-bg: rgb(88, 173, 146);
	--color-li-hover-bg: rgb(151,216,186);
	--color-active-bg: rgb(151,216,186);
	--color-popupWrap: rgb(151,216,186);
	--color-switch-tabs-switch-history-bb: rgb(13,70,63);
	--color-switch-tabs-switch-history-bt: rgb(200,239,226);
}

.icon , .btn {
	/* BaseColor : rgb(215, 178, 109) */
	filter: sepia(62%) saturate(292%) hue-rotate(358deg) brightness(89%) contrast(89%);
}

.icon:hover , .btn:hover {
	/*  BaseColor : rgb(200, 239, 226) */
	filter: sepia(28%) saturate(175%) hue-rotate(103deg) brightness(97%) contrast(94%);
}

/* rgb(20,109,99)|rgb(4, 38, 34)|rgb(200,239,226)|rgb(200,239,226)|rgb(200,239,226)|rgb(13,70,63)|rgb(20,109,99)|rgb(151,216,186)|rgb(122,205,166)|rgb(151,216,186)|rgb(151,216,186)|rgb(20,109,99)|rgb(151,216,186)|rgb(151,216,186)|rgb(20,109,99)|rgb(36,149,137)|rgb(200,239,226)|rgb(200,239,226)|rgb(4,38,34)|rgb(88, 173, 146)|rgb(151,216,186)|rgb(151,216,186)|rgb(151,216,186)|rgb(13,70,63)|rgb(200,239,226)|rgb(215, 178, 109)|rgb(200, 239, 226) */