:root {
	--color-body-bg: rgb(166,144,86);
	--color-body: rgb(67,47,22);
	--color-list-tab: rgb(67,47,22);
	--color-list-toolbar-bs: rgb(67,47,22);
	--color-list-tab-bb: rgb(67,47,22);
	--color-tabs-toolbar-bb: rgb(67,47,22);
	--color-list-toolbar-bg: rgb(166,144,86);
	--color-tabs-toolbar-bg: rgb(247,227,166);
	--color-list-tab-bg: rgb(232,205,125);
	--color-list-tab-hover-active-bg: rgb(247,227,166);
	--color-list-tab-active-bb: rgb(247,227,166);
	--color-list-tab-font: rgb(116,80,37);
	--color-h1-bg: rgb(247,227,166);
	--color-h1-bt: rgb(247,227,166);
	--color-h1: rgb(67,47,22);
	--color-tabs-count: rgb(116,80,37);
	--color-discarded: rgb(116,80,37);
	--color-hidden: rgb(116,80,37);
	--color-switch-history: rgb(116,80,37);
	--color-li-bg: rgb(206,186,125);
	--color-li-hover-bg: rgb(247,227,166);
	--color-active-bg: rgb(247,227,166);
	--color-popupWrap: rgb(247,227,166);
	--color-switch-tabs-switch-history-bb: rgb(67,47,22);
	--color-switch-tabs-switch-history-bt: rgb(247, 227, 166);
}

.icon , .btn {
	/* BaseColor : rgb(200, 213, 169) */
	filter: sepia(6%) saturate(1116%) hue-rotate(36deg) brightness(93%) contrast(90%);
}

.icon:hover , .btn:hover {
	/*  BaseColor : rgb(243, 223, 175) */
	filter: sepia(50%) saturate(190%) hue-rotate(358deg) brightness(101%) contrast(91%);
}

/* rgb(166,144,86)|rgb(67,47,22)|rgb(67,47,22)|rgb(67,47,22)|rgb(67,47,22)|rgb(67,47,22)|rgb(166,144,86)|rgb(247,227,166)|rgb(232,205,125)|rgb(247,227,166)|rgb(247,227,166)|rgb(116,80,37)|rgb(247,227,166)|rgb(247,227,166)|rgb(67,47,22)|rgb(116,80,37)|rgb(116,80,37)|rgb(116,80,37)|rgb(116,80,37)|rgb(206,186,125)|rgb(247,227,166)|rgb(247,227,166)|rgb(247,227,166)|rgb(67,47,22)|rgb(247, 227, 166)|rgb(200, 213, 169)|rgb(243, 223, 175) */