:root {
	--color-body-bg: rgb(100,122,136);
	--color-body: rgb(26,30,25);
	--color-list-tab: rgb(223,228,233);
	--color-list-toolbar-bs: rgb(223,228,233);
	--color-list-tab-bb: rgb(223,228,233);
	--color-tabs-toolbar-bb: rgb(64,75,63);
	--color-list-toolbar-bg: rgb(100,122,136);
	--color-tabs-toolbar-bg: rgb(223,228,233);
	--color-list-tab-bg: rgb(153,168,172);
	--color-list-tab-hover-active-bg: rgb(223,228,233);
	--color-list-tab-active-bb: rgb(223,228,233);
	--color-list-tab-font: rgb(64,75,63);
	--color-h1-bg: rgb(223,228,233);
	--color-h1-bt: rgb(223,228,233);
	--color-h1: rgb(64,75,63);
	--color-tabs-count: rgb(64,75,63);
	--color-discarded: rgb(64,75,63);
	--color-hidden: rgb(64,75,63);
	--color-switch-history: rgb(64,75,63);
	--color-li-bg: rgb(153,168,172);
	--color-li-hover-bg: rgb(223,228,233);
	--color-active-bg: rgb(223,228,233);
	--color-popupWrap: rgb(223,228,233);
	--color-switch-tabs-switch-history-bb: rgb(64,75,63);
	--color-switch-tabs-switch-history-bt: rgb(223,228,233);
}

.icon , .btn {
	/* BaseColor : rgb(148, 185, 159) */
	filter: sepia(14%) saturate(459%) hue-rotate(85deg) brightness(89%) contrast(92%);
}

.icon:hover , .btn:hover {
	/*  BaseColor : rgb(239, 217, 164) */
	filter: sepia(40%) saturate(274%) hue-rotate(357deg) brightness(99%) contrast(89%);
}

/* rgb(100,122,136)|rgb(26,30,25)|rgb(223,228,233)|rgb(223,228,233)|rgb(223,228,233)|rgb(64,75,63)|rgb(100,122,136)|rgb(223,228,233)|rgb(153,168,172)|rgb(223,228,233)|rgb(223,228,233)|rgb(64,75,63)|rgb(223,228,233)|rgb(223,228,233)|rgb(64,75,63)|rgb(64,75,63)|rgb(64,75,63)|rgb(64,75,63)|rgb(64,75,63)|rgb(153,168,172)|rgb(223,228,233)|rgb(223,228,233)|rgb(223,228,233)|rgb(64,75,63)|rgb(223,228,233)|rgb(148, 185, 159)|rgb(239, 217, 164) */